.nav-item .dropdown-toggle {
    border: 2px solid black; 
    border-radius: 8px; 
    padding: 10px 20px; 
    font-size: 24px; 
    display: flex; 
    align-items: center; 
    height: 40px; 
}

.nav-item .dropdown-toggle::after {
    display: none; 
}

.container.col-xxl-8.px-4.py-5, .row.flex-lg-row-reverse.align-items-center.g-5.py-5 {
    padding-top: 10px !important;
    padding-bottom: 0% !important;
}

footer.py-3.bg-info.fixed-bottom {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
}

